<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="pointId" name="pointId" th:value="${xy.pointId}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">wgs84Lon：</label>
								<div class="col-sm-8">
									<input id="wgs84Lon" name="wgs84Lon" th:value="${xy.wgs84Lon}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">wgs84Lat：</label>
								<div class="col-sm-8">
									<input id="wgs84Lat" name="wgs84Lat" th:value="${xy.wgs84Lat}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">bdLon：</label>
								<div class="col-sm-8">
									<input id="bdLon" name="bdLon" th:value="${xy.bdLon}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">bdLat：</label>
								<div class="col-sm-8">
									<input id="bdLat" name="bdLat" th:value="${xy.bdLat}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">bdDisName：</label>
								<div class="col-sm-8">
									<input id="bdDisName" name="bdDisName" th:value="${xy.bdDisName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">bdCityCode：</label>
								<div class="col-sm-8">
									<input id="bdCityCode" name="bdCityCode" th:value="${xy.bdCityCode}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">bdCityName：</label>
								<div class="col-sm-8">
									<input id="bdCityName" name="bdCityName" th:value="${xy.bdCityName}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">bdDisCode：</label>
								<div class="col-sm-8">
									<input id="bdDisCode" name="bdDisCode" th:value="${xy.bdDisCode}" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">pointDisId：</label>
								<div class="col-sm-8">
									<input id="pointDisId" name="pointDisId" th:value="${xy.pointDisId}" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/point/xy/edit.js">
	</script>
</body>
</html>
