<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>

<body class="gray-bg">
<h1 align=center>访客监控</h1>
<div id="left_div" class="col-md-3" style="height:75% ; border:1px solid #cccccc"> 111</div>
<div id="md_div" class="col-md-6" style="height:75%; border:1px solid #cccccc"> 111</div>
<div id="right_div" class="col-md-3" style="height:75%; border:1px solid #cccccc">
    <div id="right_top_div"  style="height:60%; width: 100%"> a</div>
    <div id="right_bottom_div" style="height:40%; width: 100%"> b</div>
</div>
<div id="bottom_div" class="col-md-12" style="width:100%;height:20%; border:1px solid #cccccc"> 111</div>
<div th:include="include :: footer"></div>
<script src="/js/plugins/echarts/echarts-all.js"></script>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=1.0&&type=webgl&ak=dhDqxYiu0SWUzxzR9FViGTBnf16PLlh7">
</script>

<script>
    $(function () {
        show_left_chart();
        show_central_map();
        show_bottom_chart();
        show_right_top();
        show_right_bottom();
    })

    function show_right_top(){
        $.ajax({
            url: "/point/queryCityPercent",
            type: "post",
            contentType: "application/json", //json请求
            data: {},
            success: function (r) {
                var return_data = eval('(' + r + ')');
                var data_arr = new Array();
                for (var i = 0; i < return_data.length; i++) {
                    data_arr[i] = {"name":return_data[i].city_name,"value":return_data[i].num}
                }

                var myChart = echarts.init(document.getElementById("right_top_div"));
                var option = {
                    title: {
                        text: '地市人数占比'
                    },
                    series: [{
                        type: 'pie',
                        data: data_arr
                    }
                    ]
                }
                myChart.setOption(option);
            }
        });
    }

    function show_right_bottom() {
        var strJson = JSON.stringify({"city_code4": "2301"});
        $.ajax({
            url: "/point/queryDisPercent",
            type: "post",
            contentType: "application/json", //json请求
            data: strJson, // js对象转字符串,
            success: function (r) {
                var return_data = eval('(' + r + ')');
                console.log(r)
                // todo 展示各地市人数占比
                var myChart = echarts.init(document.getElementById("right_bottom_div"));
                var option = {
                    title: {
                        text: '区县人数占比'
                    }
                    , series: [{
                        radius: ['30%', '80%'],
                        type: 'pie',
                        data: return_data
                    }]
                }
                myChart.setOption(option);
            }
        });
    }


    function show_central_map(){
        var map = new BMapGL.Map("md_div");
        var point = new BMapGL.Point(126.67212144283639, 45.761133815965717);
        map.centerAndZoom(point, 15);
        map.enableScrollWheelZoom(true);     //开启鼠标滚
        // 轮缩放
        $.ajax({
            url: "/point/queryAllPoint",
            type: "post",
            contentType: "application/json", //json请求
            data: {},
            success: function (r) {
                console.log(r)
                var return_data = eval('(' + r + ')');
                console.log(return_data)
                for (var i = 0; i < return_data.length; i++) {
                    var marker =new BMapGL.Marker(new BMapGL.Point(return_data[i].bd_lon,return_data[i].bd_lat));
                    map.addOverlay(marker);
                }
            }
        });

    }

    function show_left_chart() {
        var param = {
            "count_date": "20230705", "city_code4": "2301"
        };
        var strJson = JSON.stringify(param); // js对象转字符串
        $.ajax({
            url: "/point/queryNumByDate",
            type: "post",
            contentType: "application/json", //json请求
            data: strJson,
            success: function (r) {
                console.log(r)
                var return_data = eval('(' + r + ')');
                var x_data = new Array();
                var num_data = new Array();
                console.log(return_data)
                for (var i = 0; i < return_data.length; i++) {
                    x_data[i] = return_data[i].dis_name;
                    num_data[i] = return_data[i].person_num
                }

                var myChart = echarts.init(document.getElementById("left_div"));
                var option = {
                    title: {
                        text: '2023年7月5日区县访客情况'
                    },
                    xAxis: {
                        data: x_data
                    },
                    yAxis: {}
                    , series: [{
                        type: 'bar',
                        data: num_data
                    }
                    ]
                }
                myChart.setOption(option);
            }
        });
    }
    function show_bottom_chart() {

        $.ajax({
            url: "/point/queryAPINumDate",
            type: "post",
            contentType: "application/json", //json请求
            data: {},
            success: function (r) {
                console.log(r)
                var return_data = eval('(' + r + ')');
                var x_data = new Array();
                var num_data = new Array();
                console.log(return_data)
                for (var i = 0; i < return_data.length; i++) {
                    x_data[i] = return_data[i].update_date;
                    num_data[i] = return_data[i].num
                }

                var myChart = echarts.init(document.getElementById("bottom_div"));
                var option = {
                    title: {
                        text: '2023年7月5日区县访客情况'
                    },
                    xAxis: {
                        data: x_data
                    },
                    yAxis: {}
                    , series: [{
                        type: 'line',
                        data: num_data
                    }
                    ]
                }
                myChart.setOption(option);
            }
        });
    }
</script>
</body>
</html>